*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
*::selection {
    background: var(--main-color);
    color:#fff ;

}
:root{
    --main-color:#ff702a ;
    --text-color :#fff ;
    --bg-color:#1e1c2a ;
    --big-font:5rem ;
    --h2-font:2.25rem ;
    --p-font :0.9rem ;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}
.logo{
   color : var(--main-color);
   font-weight: 600;
   font-size: 2.4rem;
}
.navbar{
    display: flex;

}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover {
    color: var(--main-color);
    transition: .4s;
}
#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;

}
/* Vos styles CSS existants ... */

/* Style pour la sous-liste des catégories de menu */
.menu-categories {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 4px;
}

.menu-categories li {
    padding: 10px;
    text-align: left;
}

.menu-categories a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    transition: color 0.3s;
}

.menu-categories a:hover {
    color: var(--main-color);
}

/* Afficher la sous-liste au survol */
.navbar li:hover .menu-categories {
    display: block;
}



section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90VH;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;

}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);

}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem ;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    grid-gap: 1.5rem;
    align-items: center;

}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: var(--h2-font);

}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
.heading{
    text-align: center;
}
.heading span {
    color: var(--main-color);
    font-weight: 600;

}
.heading h2 {
    font-size: var(--h2-font);
    }

.box {
    position: relative;
    margin-top: 4rem;
    height: 400px; /* Taille unique */
    width: 100%; /* Centrer horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}

.box-img {
    width: 350px; /* Taille unique */
    height: 220px; /* Taille unique */
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Centrer horizontalement */
}


.menu-container {
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.menu-container .box-img img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; 
}

.menu-container h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
.menu-container h3 {
    font-size: 18px;
    color: #888;
    margin: 5px 0;
  }
  

.menu-container span {
    font-size: 20px;
    font-weight: bold;
  }

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background: #feeee7;
    border-radius: 0.5rem;
}

label {
    color: #fff;
    background-color: var(--bg-color);
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    background-color: #fff;
    color: #777;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}
.contact-form button {
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Your existing CSS styles ... */

/* Add a new class for the orange box */
.orange-box {
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
}

.form-separator {
    height: 100px; /* Adjust the height as needed */
}

/* Center the entire footer content */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    z-index: 1; /* Ensure the footer is on top of the box */
}

/* Style for the white divider */
.white-divider {
    width: 2px;
    background-color: white;
    margin: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the divider is above the box */
}


/* Style for both lists (Contact Us and Follow Us) */
.footer-contact,
.footer-social {
    flex: 1;
    padding: 0 20px;
    text-align: center; /* Center the content */
}

.footer-contact h3,
.footer-social h3 {
    font-size: 1.2rem;
    color: var(--main-color);
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
}

.footer-contact ul,
.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact li,
.footer-social li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
}

.footer-contact i,
.footer-social i {
    font-size: 1rem;
    margin-right: 10px;
    color: var(--main-color);
}

.footer-social a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--main-color);
}
.shopping-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.shopping-list-group {
    display: inline-block; /* Pour aligner les groupes de listes côte à côte */
    vertical-align: top; /* Pour aligner les groupes en haut de la ligne */
    width: calc(32.50% - 15px); /* Pour afficher trois groupes côte à côte avec un espacement de 20px entre eux */
    margin-right: 20px; /* Espacement entre les groupes de listes */
    text-align: center;
    justify-content: space-between;
    padding: 100px;
}

.item {
    background-color: #feeee7;
    margin: 10px; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
    text-align: center;
    max-width: 300px;/* Ajouter de la marge autour de chaque article */
    color: #333;
}
.item img {
    max-width: 70% ;
    height: 40% ;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    header {
        padding: 20px 20px; /* Ajuster le padding pour un en-tête plus compact */
    }

    .navbar {
        flex-direction: column; /* Afficher les éléments de la barre de navigation en colonne */
        align-items: center; /* Centrer les éléments horizontalement */
        background: var(--bg-color); /* Changer le fond pour améliorer la lisibilité */
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    /* Afficher le menu au clic sur l'icône du menu */
    .navbar.active {
        transform: translateY(0);
    }

    /* Ajuster la taille de police pour les éléments de la barre de navigation */
    .navbar a {
        font-size: 1.2rem;
    }

    /* Ajuster l'icône du menu pour un design réactif */
    #menu-icon {
        display: block; /* Afficher l'icône du menu */
    }

    /* Ajuster la taille de la police pour le logo */
    .logo {
        font-size: 2rem;
    }
    .shopping-list-group {
        width: calc(50% - 20px); /* Pour afficher deux groupes par ligne avec un espacement de 20px entre eux */
    }
}


